.desktop {
  display: block;
}

.desktopFlex {
  display:flex
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: white;
}

.menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo {
  width: 100%;
  max-width: 136px;
}

.btnAdmin {
  display: flex;
  gap: .5rem;
  align-items: center;
  padding: .5rem;
  background: blue;
  border-radius: 70px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.accountBtns {
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media screen and ( max-width: 768px ) {
  .desktop {
    display: none;
  }
}