.adminOccerrences {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: white;
  border-radius: var(--radius-2);
  padding: var(--spacing-08);
}

.adminOccurrences_header {
  display: grid;
  grid-template-columns: 65px 3fr 1fr 2fr 30px 1fr 1fr;
  column-gap: 2rem;
}