.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-08);
  align-items: center;
  padding-block: var(--spacing-08);
  padding-inline: 25%;
}

.subContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-08);
  width: 100%;
}

.profile {
  border-radius: var(--radius-round);
}

.park {
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
    content: '';
    background-image: url('/img/park.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .1;
  }
}

.street {
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
    content: '';
    background-image: url('/img/street.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .1;
  }
}

.square {
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
    content: '';
    background-image: url('/img/square.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .1;
  }
}