.errorContainer {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-06);
  background: var(--color-gradient-variant-2);
}

.logo {
  width: 100%;
  max-width: 136px;
}

.logoContainer {
  height: var(--spacing-08);
  width: fit-content;
}