.errorContainer {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-02);
}

.logo {
  width: 100%;
  max-width: 136px;
}

.logoContainer {
  height: var(--spacing-08);
  width: fit-content;
}