.searchWrapper {
  background: #3457BF;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
}

.projectList {
  margin: 0 var(--spacing-10);
  display: flex;
  gap: var(--spacing-09);
  flex-wrap: wrap;
}