.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  height: 411px;
  gap: var(--spacing-09);
}

.goBack {
  position: absolute;
  top: var(--spacing-09);
  left: var(--spacing-09);
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-09);
  padding: var(--spacing-08) 148px;
  background: var(--color-gradient-variant);
  height: 100%;
}