.tracker {
  display: flex;
  align-items: flex-start;
}

.barNonactive {
  width: 100px;
  height: 1rem;
  background: var(--color-grey-500);
  margin-top: calc(60px - .5rem);
  margin-left: -1rem;
  margin-right: -1rem;
  color: transparent;
}
.barActive {
  width: 100px;
  height: 1rem;
  background: transparent;
  margin-top: calc(60px - .5rem);
  margin-left: -1rem;
  margin-right: -1rem;
  color: var(--color-blue-400);
}