.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 86.5px 380px;
  background: var(--color-white);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 700px;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-04);
}

.title {
  font-family: var(--font-sans);
  font-weight: 700;
  letter-spacing: 2%;
  font-size: var(--font-size-body);
  line-height: var(--font-lineheight-body);
}