.setupContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-06);
  padding: var(--spacing-06) 6rem;
}

.footer {
  display: flex;
  justify-content: center;
  gap: var(--spacing-04);
  padding-top: var(--spacing-06);
  padding-bottom: var(--spacing-08);
}

.date,
.name {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-06);
}

.publishDate,
.cocreationDateStart,
.cocreationDateEnd,
.voteDateStart,
.voteDateEnd {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.cocreationDate,
.voteDate {
  display: flex;
  gap: var(--spacing-06);
}

.typesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.typePlein,
.typePark,
.typeStraat {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-02);
  justify-content: center;
  align-items: center;
}

.checkedBuildingPiece {
  display: flex;
  gap: var(--spacing-06);
  align-items: center;
}

.CheckboxRoot {
  background-color: var(--color-white);
  width: 25px;
  height: 25px;
  border-radius: var(--radius-1);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px black;
}
.CheckboxRoot:hover {
  background-color: var(--color-blue-500);
}
.CheckboxRoot:focus {
  box-shadow: 0 0 0 2px black;
}

.CheckboxIndicator {
  color: var(--color-blue-500);
}