.informationContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-06);
  padding: var(--spacing-06) 6rem;
}

.infotext {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-06);
}

.btnSave {
  text-transform: uppercase;
}
