.cardContainer {
  position: absolute;
  right: 1em;
  bottom: 1em;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 448px;
  height: fit-content;
  padding: 12px;
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgb(0 0 0 / 20%);
}

.hidden {
  display: none;
}

.subCardHeader p,
.cardDescription p,
.cardButton p,
.cardHeader h3 {
  padding: 0;
  margin: 0;
}

.cardImg {
  width: 100%;
  height: 196px;
  background-color: black;
  border-radius: 8px;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.subCardHeader {
  display: flex;
  gap: 1em;
  width: 100%;
}

.cardButton {
  width: fit-content;
  height: fit-content;
  padding: 0.5em 1em;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 100px;
}

.btnMain {
  background-color: #3457BF;
}

.btnSucces {
  background-color: #329459;
}

.btnContainer {
  display: flex;
  gap: 1em;
}