.cardContainer {
  box-sizing: border-box;
  background-color: whitesmoke;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: fit-content;
  width: 448px;
  z-index: 10;
  bottom: 1em;
  right: 1em;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

.subCardHeader p,
.cardDescription p,
.cardButton p,
.cardHeader h3 {
  margin: 0;
  padding: 0;
}

.cardImg {
  height: 196px;
  width: 100%;
  border-radius: 8px;
  background-color: black;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.subCardHeader {
  display: flex;
  gap: 1em;
  width: 100%;
}

.cardButton {
  color: white;
  padding: 0.5em 1em;
  border-radius: 100px;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  text-decoration: none;
}

.btnMain {
  background-color: #3457BF;
}

.btnSucces {
  background-color: #329459;
}

.btnContainer {
  display: flex;
  gap: 1em;
}