.summaryContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-06);
  padding: var(--spacing-06) 6rem;
}

.location,
.cocreation,
.dates,
.budget,
.beschrijving,
.info,
.vereisten {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-06);
}

.textGrey500 {
  color: var(--color-grey-500);
}

.mapWrapper {
  width: 100%;
  max-width: 900px;
  height: 400px;
  border-radius: var(--radius-2);
  overflow: hidden;
}

.footer {
  display: flex;
  justify-content: center;
  gap: var(--spacing-04);
  padding-top: var(--spacing-06);
  padding-bottom: var(--spacing-08);
}