.container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: fit-content;
  padding: 0.4em 0;
  background-color: white;
}

.action {
  cursor: pointer;
}

.disabled {
  color: black;
  opacity: 0.6;
}

.enabled {
  opacity: 1;
}

.btnPrimary {
  padding: 0.5em 2em;
  color: white;
  cursor: pointer;
  background-color: blue;
  border-radius: 4px;
}

.disabledbtn {
  background-color: gray;
  opacity: 0.6;
}