.container {
  width: 250px;
  height: 35px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action {
  cursor: pointer;
}

.disabled {
  opacity: 60%;
}

.enabled {
  opacity: 100%;
}