.setupContainer {
  position: absolute;
  top: var(--spacing-08);
  right: var(--spacing-08);
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 350px;
  height: 400px;
  padding: var(--spacing-04);
  background-color: whitesmoke;
  box-shadow: 1px 1px 5px rgb(0 0 0 / 20%);
}

.btnPrimary {
  padding: var(--spacing-02) var(--spacing-08);
  color: var(--color-white);
  cursor: pointer;
  background-color: var(--color-blue-500);
  border-radius: var(--radius-1);
}