.adminProjectEditNav {
  display: flex;
  gap: var(--spacing-09);
  align-items: center;
  padding: var(--spacing-04) var(--spacing-08);
  border-bottom: 1px solid var(--color-grey-500);
}

.inactive {
  color: var(--color-grey-500);
}