.map {
  width: 100vw;
  height: var(--map-height-full);
  display: flex;
  justify-content: space-between;
}

.container {
  height: 90vh;
  display: grid;
  grid-template-rows: auto 216px;
}

.navcontainer {
  position: relative;
  bottom: 0;
  width: 100vw;
  height: fit-content;
}

.productPreviewContainer {
  display: none;
  position: absolute;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: var(--color-white);
  border-radius: var(--radius-2);
}

.productPreviewContainer div {
  width: 3rem;
  height: 3rem;
}