.map {
  width: 100vw;
  height: var(--map-size-full);
}

.container {
  height: 90vh;
  display: grid;
  grid-template-rows: auto 216px;
}

.navcontainer {
  position: relative;
  bottom: 0;
  width: 100vw;
  height: fit-content;
}