.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-02);
}

.input {
  position: relative;
}

.label {
  font-size: var(--font-size-details);
}

.icon {
  position: absolute;
  top: 50%;
  right: var(--spacing-03);
  z-index: 50;
  width: var(--spacing-04);
  height: var(--spacing-04);
  color: var(--color-green-500);
  transform: translateY(-50%);
}

