.adminUserContainer {
  display: grid;
  grid-template-columns: 65px 3fr 3fr 2fr 1fr 30px;
  column-gap: 2rem;
  align-items: center;
}

.profileIcon {
  color: var(--color-black);
}

.adminUser_img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.img {
  object-fit: cover;
  border-radius: var(--radius-round);
}