.productListing {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  font-weight: 700;
  background-color: var(--color-grey-50);
  border-radius: var(--radius-2);
}