.productList {
  background-color: white;
  border-radius: var(--radius-2);
  display: flex;
  gap: var(--spacing-04);
  padding: 12px;
  width: 100%;
}

.productListing {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  font-weight: 700;
  background-color: var(--color-grey-50);
  border-radius: var(--radius-2);
}