.productList {
  background-color: white;
  border-radius: 8px;
  display: flex;
  gap: 1em;
  padding: 12px;
}

.productListing {
  width: 6em;
  height: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: 8px;
  background-color: rgb(221, 221, 221);
}