.sidenav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background: white;
  border-radius: 0 8px 8px 0;
  width: 263px;
  height: 100%;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: all .3s ease-in-out;
  padding: .5rem 0;
  font-weight: 300;
  display: flex;
  gap: .75rem;
  align-items: center;
}
.link:hover, .link:active, .active {
  color: blue;
  font-weight: 500;
}