@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Mulish:wght@300;400;500;600;700&display=swap');

:root {
  scroll-behavior: smooth;

  --outline-focus-offset: 1px;
  --outline-focus-width: 3px;

}

/* stylelint-disable-next-line selector-id-pattern */
#__next {
  min-height: 100vh;
}

html {
  min-height: 100vh;
}

main {
  height: 100vh;
}

body {
  height: 100vh;
  min-height: 100vh;
  font-family: var(--font-sans);
  font-size: var(--font-size-body);
  background: var(--color-grey-50);
}

h2 {
  font-family: var(--font-display);
  font-size: var(--font-size-h2);
  font-weight: bold;
}

:focus {
  outline-style: solid;
  outline-color: transparent;
}

:focus-visible {
  outline-width: var(--outline-focus-width);
  outline-color: var(--color-primary);
  outline-offset: var(--outline-focus-offset);
}