.trackerCircleZindex {
  z-index: 5;
}

.trackerCircleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-02);
}

.trackerCircleActive {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-round);
  width: 120px;
  aspect-ratio: 1 / 1;
  background: var(--color-white);
  border: 10px solid var(--color-blue-400);
  &:hover {
    cursor: pointer;
  }
}
.trackerCircleNonactive {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-round);
  width: 120px;
  aspect-ratio: 1 / 1;
  background: var(--color-grey-500);
  border: 10px solid var(--color-grey-500);
  &:hover {
    cursor: pointer;
  }
}
.trackerCircleCompleted {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-round);
  width: 120px;
  aspect-ratio: 1 / 1;
  background: var(--color-blue-500);
  border: 10px solid var(--color-blue-500);
  &:hover {
    cursor: pointer;
  }
}
.trackerCircleActiveTransparent {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-round);
  width: 120px;
  aspect-ratio: 1 / 1;
  border: 10px solid var(--color-blue-400);
  &:hover {
    cursor: pointer;
  }
}

.trackerNumberActive {
  color: var(--color-blue-400);
}
.trackerNumberNonactive {
  color: var(--color-white);
}
.trackerNumberCompleted {
  color: var(--color-white);
}