.toolbarContainer {
  position: absolute;
  bottom: 0;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-04);
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  padding: var(--spacing-04) var(--spacing-08);
  background-color: var(--color-grey-100);
  box-shadow: 1px 1px 5px rgb(0 0 0 / 20%);
}

.interaction {
  display: flex;
  align-items: center;
  gap: var(--spacing-04);
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--spacing-09);
  background-color: white;
  border-radius: var(--radius-round);
  width: 627px;
  color: rgb(181, 181, 181);
  padding: 0 var(--spacing-04);
}

.search p {
  position: relative;
}

.filter {
  border-radius: var(--radius-2);
  background-color: white;
  width: var(--spacing-09);
  height: var(--spacing-09);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.activeFilter {
  color: var(--color-blue-500);
}

.misc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}