.toolbarContainer {
  position: absolute;
  bottom: 0;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-04);
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  padding: var(--spacing-04) var(--spacing-08);
  background-color: var(--color-grey-100);
  box-shadow: 1px 1px 5px rgb(0 0 0 / 20%);
}

.interaction {
  display: flex;
  align-items: center;
  gap: 1em;
}

.search {
  display: flex;
  align-items: center;
  height: 3em;
  background-color: white;
  border-radius: 50px;
  width: 627px;
  color: rgb(181, 181, 181);
}

.search p {
  position: relative;
  left: 1em;
}

.filter {
  border-radius: 8px;
  background-color: white;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeFilter {
  background-color: var(--color-blue-500);
}

.misc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}